<template>
    <v-container>
        <v-card>
            <v-container grid-list-md mb-0>
                <h2 class="text-md-center">Drug Data</h2>
                <v-layout row wrap style="margin:10px">
                    <v-flex xs6>
                        <v-btn depressed dark rounded style="text-transform: none !important;" color="green accent-3"
                            @click="dialog=true">
                            <v-icon size="18" class="mr-2">mdi-pencil-plus</v-icon>
                            Add Drug
                        </v-btn>
                    </v-flex>
                    <v-flex xs6 class="text-right">
                        <v-text-field v-model="keyword" append-icon="mdi-search" label="Search" hide-details>
                        </v-text-field>
                    </v-flex>
                </v-layout>

                <v-data-table :headers="headers" :items="drugs" :search="keyword" :loading="load">
                    <template v-slot:body="{ items }">
                        <tbody>
                            <tr v-for="(item,index) in items" :key="item.id">
                                <td>{{ index+1 }}</td>
                                <td>{{ item.drug_code }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.merk }}</td>
                                <td>{{ item.drug_type }}</td>
                                <td>{{ item.price }}</td>
                                <td>
                                    <v-btn icon color="indigo" light @click="editHandler(item)">
                                        <v-icon>mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-btn icon color="error" light @click="deleteData(item.id)">
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-data-table>
            </v-container>
        </v-card>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <v-spacer />
                    <span class="headline">Drug Profile</span>
                    <v-spacer />
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Drug Code*" v-model="form.drug_code" required></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="Name*" v-model="form.name" required></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="Merk*" v-model="form.merk" required></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                 <v-select label="Drug Type*" v-model="form.drug_type" :items="items" required>
                                </v-select>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="Price*" v-model="form.price" required></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="Link Image*" v-model="form.link_image" required></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog=false">Close</v-btn>
                    <v-btn color="blue darken-1" text @click="setForm()">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar v-model="snackbar" :color="color" :multi-line="true" :timeout="3000">
            {{ text }}
            <v-btn dark text @click="snackbar=false">
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                dialog: false,
                items:['Soft','Mild','Strong'],

                keyword: '',
                headers: [{
                        text: 'No',
                        value: 'no',
                    },
                    {
                        text: 'Drug Code',
                        value: 'drug_code'
                    },
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Merk',
                        value: 'merk'
                    },
                    {
                        text: 'Drug Type',
                        value: 'drug_type'
                    },
                    {
                        text: 'Price',
                        value: 'price'
                    },
                    {
                        text: 'Action',
                        value: null
                    },
                ],
                drugs: [],
                snackbar: false,
                color: null,
                text: '',
                load: false,
                form: {
                    drug_code: '',
                    name: '',
                    merk: '',
                    drug_type: '',
                    link_image: '',
                    price: ''
                },
                drug: new FormData,
                typeInput: 'new',
                errors: '',
                updatedId: '',
            }
        },
        methods: {
            getData() {
                var config = {
            headers: {
                Authorization: "Bearer " + localStorage.getItem("token")
                }
        }
                var uri = this.$apiUrl + '/drug'
                this.$http.get(uri,config).then(response => {
                    this.drugs = response.data.message
                })
            },
            sendData() {
                this.drug.append('drug_code', this.form.drug_code);
                this.drug.append('name', this.form.name);
                this.drug.append('merk', this.form.merk);
                this.drug.append('drug_type', this.form.drug_type);
                this.drug.append('price', this.form.price);
                this.drug.append('link_image', this.form.link_image);
                var uri = this.$apiUrl + '/drug'
                this.load = true
                this.$http.post(uri, this.drug).then(response => {
                    this.snackbar = true; //mengaktifkan snackbar
                    this.color = 'green'; //memberi warna snackbar
                    this.text = response.data.message; //memasukkan pesan kesnackbar
                    this.load = false;
                    this.dialog = false
                    this.getData(); //mengambil data drug 
                    this.resetForm();
                }).catch(error => {
                    this.errors = error
                    this.snackbar = true;
                    this.text = 'Try Again';
                    this.color = 'red';
                    this.load = false;
                })
            },
            updateData() {
                this.drug.append('drug_code', this.form.drug_code);
                this.drug.append('name', this.form.name);
                this.drug.append('merk', this.form.merk);
                this.drug.append('drug_type', this.form.drug_type);
                this.drug.append('price', this.form.price);
                this.drug.append('link_image', this.form.link_image);
                var uri = this.$apiUrl + '/drug/' + this.updatedId;
                this.load = true
                this.$http.post(uri, this.drug).then(response => {
                    this.snackbar = true; //mengaktifkan snackbar
                    this.color = 'green'; //memberi warna snackbar
                    this.text = response.data.message; //memasukkan pesan kesnackbar
                    this.load = false;
                    this.dialog = false
                    this.getData(); //mengambil data drug
                    this.resetForm();
                    this.typeInput = 'new';
                }).catch(error => {
                    this.errors = error
                    this.snackbar = true;
                    this.text = 'Try Again';
                    this.color = 'red';
                    this.load = false;
                    this.typeInput = 'new';
                })
            },
            editHandler(item) {
                this.typeInput = 'edit';
                this.dialog = true;
                this.form.drug_code = item.drug_code;
                this.form.name = item.name;
                this.form.merk = item.merk;
                this.form.price = item.price,
                this.form.link_image = item.link_image,
                this.form.drug_type = item.drug_type;
                this.updatedId = item.id
            },
            deleteData(deleteId) { //mengahapus data
                var uri = this.$apiUrl + '/drug/' + deleteId; //data dihapus berdasarkan id
                this.$http.delete(uri).then(response => {
                    this.snackbar = true;
                    this.text = response.data.message;
                    this.color = 'green'
                    this.deleteDialog = false;
                    this.getData();
                }).catch(error => {
                    this.errors = error
                    this.snackbar = true;
                    this.text = 'Try Again';
                    this.color = 'red';
                })
            },
            setForm() {
                if (this.typeInput === 'new') {
                    this.sendData()
                } else {
                    console.log("dddd")
                    this.updateData()
                }
            },
            resetForm() {
                this.form = {
                    drug_code: '',
                    name: '',
                    merk: '',
                    drug_type: '',
                    price: '',
                    link_image: '',
                }
            }
        },
        mounted() {
            this.getData();
        },
    }
</script>