<template>
    <v-container>
        <v-card>
            <v-container grid-list-md mb-0>
                <h2 class="text-md-center">User Data</h2>
                <v-layout row wrap style="margin:10px">
                    <v-flex xs6>
                        <v-btn depressed dark rounded style="text-transform: none !important;" color="green accent-3"
                            @click="dialog=true">
                            <v-icon size="18" class="mr-2">mdi-pencil-plus</v-icon>
                            Add User
                        </v-btn>
                    </v-flex>
                    <v-flex xs6 class="text-right">
                        <v-text-field v-model="keyword" append-icon="mdi-search" label="Search" hide-details>
                        </v-text-field>
                    </v-flex>
                </v-layout>

                <v-data-table :headers="headers" :items="users" :search="keyword" :loading="load">
                    <template v-slot:body="{ items }">
                        <tbody>
                            <tr v-for="(item,index) in items" :key="item.id">
                                <td>{{ index+1 }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.user_type }}</td>
                                <td>{{ item.created_at }}</td>
                                <!-- <td>{{ item.link_image }}</td> -->
                                <td>
                                    <v-btn icon color="indigo" light @click="editHandler(item)">
                                        <v-icon>mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-btn icon color="error" light @click="deleteData(item.id)">
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-data-table>
            </v-container>
        </v-card>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <v-spacer />
                    <span class="headline">User Profile</span>
                    <v-spacer />
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field label="Name*" v-model="form.name" required></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="Email*" v-model="form.email" required></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="Password*" v-model="form.password" type="password" required>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-select label="User Type*" v-model="form.user_type" :items="items" required>
                                </v-select>
                            </v-col>
                             <v-col cols="12">
                                <v-text-field label="Link Image*" v-model="form.link_image" >
                                </v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog=false">Close</v-btn>
                    <v-btn color="blue darken-1" text @click="setForm()">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar v-model="snackbar" :color="color" :multi-line="true" :timeout="3000">
            {{ text }}
            <v-btn dark text @click="snackbar=false">
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                dialog: false,
                items: ['1', '2'],
                keyword: '',
                headers: [{
                        text: 'No',
                        value: 'no',
                    },
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Email',
                        value: 'email'
                    },
                    {
                        text: 'User Type',
                        value: 'user_type'
                    },
                    {
                        text: 'Created at',
                        value: 'created_at'
                    },
                    // {
                    //     text: 'Link Image',
                    //     value: 'link_image'
                    // },
                    {
                        text: 'Action',
                        value: null
                    },
                ],
                users: [],
                snackbar: false,
                color: null,
                text: '',
                load: false,
                form: {
                    name: '',
                    email: '',
                    password: '',
                    user_type: ''
                },
                user: new FormData,
                typeInput: 'new',
                errors: '',
                updatedId: '',
            }
        },
        methods: {
            getData() {
                  var config = {
            headers: {
                Authorization: "Bearer " + localStorage.getItem("token")
                }
        }
                var uri = this.$apiUrl + '/user'
                this.$http.get(uri,this.user,config).then(response => {
                    this.users = response.data.message
                })
            },
            sendData() {
                
                this.user.append('name', this.form.name);
                this.user.append('email', this.form.email);
                this.user.append('password', this.form.password);
                this.user.append('user_type', this.form.user_type);
                this.user.append('link_image', this.form.link_image);
				
				var config = {
            headers: {
                Authorization: "Bearer " + localStorage.getItem("token")
                }
        }
                
                var uri = this.$apiUrl + '/user'
                this.load = true
                this.$http.post(uri,this.user,config).then(response => {
                    this.snackbar = true; //mengaktifkan snackbar
                    this.color = 'green'; //memberi warna snackbar
                    this.text = response.data.message; //memasukkan pesan kesnackbar
                    this.load = false;
                    this.dialog = false
                    this.getData(); //mengambil data user 
                    this.resetForm();
                }).catch(error => {
                    this.errors = error
                    this.snackbar = true;
                    this.text = 'Try Again';
                    this.color = 'red';
                    this.load = false;
                })
            },
            updateData() {
                
                this.user.append('name', this.form.name);
                this.user.append('email', this.form.email);
                this.user.append('password', this.form.password);
                this.user.append('user_type', this.form.user_type);
                this.user.append('link_image', this.form.link_image);
                var uri = this.$apiUrl + '/user/' + this.updatedId;
				
				var config = {
            headers: {
                Authorization: "Bearer " + localStorage.getItem("token")
                }
        }
				
                this.load = true
                this.$http.post(uri,this.user,config).then(response => {
                    this.snackbar = true; //mengaktifkan snackbar
                    this.color = 'green'; //memberi warna snackbar
                    this.text = response.data.message; //memasukkan pesan kesnackbar
                    this.load = false;
                    this.dialog = false
                    this.getData(); //mengambil data user
                    this.resetForm();
                    this.typeInput = 'new';
                }).catch(error => {
                    this.errors = error
                    this.snackbar = true;
                    this.text = 'Try Again';
                    this.color = 'red';
                    this.load = false;
                    this.typeInput = 'new';
                })
            },
            editHandler(item) {
                this.typeInput = 'edit';
                this.dialog = true;
                this.form.name = item.name;
                this.form.email = item.email;
                this.form.password = '',
                this.form.user_type = item.user_type;
                this.form.link_image = item.link_image;
                this.updatedId = item.id
            },
            deleteData(deleteId) { //mengahapus data
            var config = {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token")
        }
      }
                var uri = this.$apiUrl + '/user/' + deleteId; //data dihapus berdasarkan id
                this.$http.delete(uri,this.user,config).then(response => {
                    this.snackbar = true;
                    this.text = response.data.message;
                    this.color = 'green'
                    this.deleteDialog = false;
                    this.getData();
                }).catch(error => {
                    this.errors = error
                    this.snackbar = true;
                    this.text = 'Try Again';
                    this.color = 'red';
                })
            },
            setForm() {
                if (this.typeInput === 'new') {
                    this.sendData()
                } else {
                    console.log("dddd")
                    this.updateData()
                }
            },
            resetForm() {
                this.form = {
                    name: '',
                    email: '',
                    password: '',
                    user_type: '',
                    link_image:'',
                }
            }
        },
        mounted() {
            this.getData();
        },
    }
</script>