<template>
  <v-carousel
    cycle
    height="550"
    width = "800"
    hide-delimiter-background
    show-arrows-on-hover
  >
    <v-carousel-item
      v-for="drug in drugs"
      v-bind:src="drug.imageUrl"
      :key="drug.id"
    >
   

    </v-carousel-item>
  </v-carousel>
</template>

<script>
  export default {
    data () {
      return {
        drugs:[
          {imageUrl: 'https://images.unsplash.com/photo-1457573294499-86ac96b336ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',id:'asd'},
          {imageUrl: 'https://images.unsplash.com/photo-1517773015382-e8a6414bbe50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',id:'asd'},
          {imageUrl: 'https://images.unsplash.com/photo-1567850083672-65ae6c8a696b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80',id:'asd'},
          {imageUrl: 'https://images.unsplash.com/photo-1557479259-fa2c00b865ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80',id:'asd'},
          {imageUrl: 'https://images.unsplash.com/photo-1569272307873-b28b4231edfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80',id:'asd'},
          {imageUrl: 'https://images.unsplash.com/photo-1569272785282-24ec6684bb3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80',id:'asd'},
          ],
        
      }
    },
  }
</script>
<style  scoped>