<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="secondary" dark flat>
                <v-spacer />
                <v-toolbar-title>Register</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-divider />
              <v-card-text>
                <v-form>
                  <v-text-field label="Name" name="login" v-model="form.name" prepend-icon="mdi-account"
                    type="text" required />

                  <v-text-field label="Email" name="email" v-model="form.email" prepend-icon="mdi-email" type="email"
                    required />

                  <v-text-field id="password" label="Password" name="password" v-model="form.password"
                    prepend-icon="mdi-lock" type="password" required />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn @click="sendData()" color="success">Register</v-btn>
                <v-spacer />
              </v-card-actions>
              <v-card-actions>
                <v-spacer />
                Already have an account?
                
                <v-card-actions>
                <v-btn @click="moveLogin()" color="primary">Login</v-btn>
                </v-card-actions>
                <v-spacer />
              </v-card-actions>
              <v-snackbar v-model="snackbar" :color="color" :multi-line="true" :timeout="3000"> {{ text }} <v-btn dark text
                @click="snackbar = false"> Close </v-btn>
        </v-snackbar>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        dialog: false,
        keyword: '',
        headers: [{
            text: 'No',
            value: 'no',
          },
          {
            text: 'Name',
            value: 'name'
          },
          {
            text: 'Email',
            value: 'email'
          },
          {
            text: 'Password',
            value: 'password'
          },
          {
            text: 'Aksi',
            value: null
          },
        ],
        users: [],
        snackbar: false,
        color: null,
        text: '',
        load: false,
        form: {
          name: '',
          email: '',
          password: ''
        },
        user: new FormData,
        typeInput: 'new',
        errors: '',
        updatedId: '',
      }
    },
    props: {
      source: String,
    },
    methods: {
      getData() {
        var uri = this.$apiUrl + '/user'
        this.$http.get(uri).then(response => {
          this.users = response.data.message
        })
      },
      resetForm() {
        this.form = {
          name: '',
          email: '',
          password: ''
        }
      },
      sendData() {
        this.user.append('name', this.form.name);
        this.user.append('email', this.form.email);
        this.user.append('user_type', '1');
        this.user.append('password', this.form.password);
        var uri = this.$apiUrl + '/user'
        this.load = true
        this.$http.post(uri, this.user).then(response => {
          this.snackbar = true; //mengaktifkan snackbar 
          this.color = 'green'; //memberi warna snackbar 
          this.text = response.data.message; //memasukkan pesan ke snackbar 

          this.load = false;
          this.dialog = false
          //this.getData(); //mengambil data user 
          this.resetForm();
          //this.moveLogin();
        }).catch(error => {
          this.errors = error
          this.snackbar = true;
          this.text = 'Try Again';
          this.color = 'red';
          this.load = false;
        })
      },
      moveLogin() {     
        setTimeout( () => this.$router.push({ path: '/'}), 500);
      }
    },
  }
</script>